<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="<%=public_root%>/stylesheets/demo.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
  </head>
  <body>
    <div class="info">
      <h1><%=file%> not found...</h1>
      <p>Sorry!</p>
    </div>
  </body>
</html>
