<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="<%=public_root%>/stylesheets/demo.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
  </head>
  <body>
    <div class="info">
      <h1>Sorry...</h1>
      <p>The server is busy running <%=numcurrent%> other simulation<%=numcurrent > 1 ? 's' : ''%>. Try again in a while.</p>
    </div>
  </body>
</html>
